body {
  background-color: whitesmoke;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
}
h1 {
  background-color: rgb(154, 118, 84);
  color: white;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 1rem;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}

#user-input {
  padding: 2rem;
  display: flex;
  justify-content: space-around;
}
#library-display {
  display: flex;
  justify-content: space-around;
}
.book-element {
  background-color: red;
  height: 100px;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
